# STM32CubeMX
*.ioc

# Keil MDK-ARM project files
*.uvprojx
*.uvoptx
*.uvgui

# Build output
/Debug/
/Release/
/obj/
/bin/

# Compiled objects & executables
*.o
*.axf
*.elf
*.map

# Backup & temp
*.bak
*.log
*.d
*.dep
*.swp
*~
