# Ignore entire MDK-ARM project folder
MDK-ARM/

# cmake files
.cache/
build/

# Keil MDK-ARM files
*.uvprojx
*.uvoptx
*.uvgui

# Build outputs
Debug/
Release/
obj/
bin/

# Object / executable files
*.o
*.axf
*.elf
*.map

# Backup & temp
*.bak
*.log
*.d
*.dep
*.swp
*~
EOF
